body{
    background-color:aqua;
    }
td{
    color:red;
    font-size:100;

}
.navbar-default {
  background-color: #69899f;
  border-color: #425766;
}
 input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
